* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  background-color: #f7d2cd;
}
body {
  display: grid;
  grid-template-areas:
    "nav"
    "menu"
    "main"
    "footer";
  min-width: 90vh;
  grid-template-rows: auto auto auto 70px;
  grid-template-columns:auto;
}
nav {
  grid-area: nav;
}
menu {
  display: flex;
  flex-direction: row;
  grid-area: menu;
  padding: 16px;
  gap: 35px;
  justify-content: center;
}

main {
  grid-area: main;

}
footer {
  grid-area: footer;
}
img {
  width: 100%;
  height: 140px;
  object-fit: cover;
}
.grid-platos {
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
  padding: 20px;
}
.card-plato {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid rgb(201, 216, 147);
  overflow: hidden;
  border-radius: 8px;
}
.card-texto {
  padding: 10px;
}
h2 {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 0%;
}
.card-desc {
  font-size: 14px;
  color: #292929;
  padding: 8px;
  border: solid 2px rgb(216, 213, 147);
  border-radius: 4px;
}
@media screen and (min-width: 576px) {
  body{
    grid-template-areas:
    "nav nav"
    "menu main"
    "footer main";
    grid-template-columns: 100px auto ;
    grid-template-rows: 70px auto 30px;
  }
  h2{
    display: flex;
  }
  .grid-platos{
    grid-template-columns: auto auto auto;
  }
  menu{
    flex-direction: column;
  }
}